{% extends "partials/layout.njk" %}
{% block title %} Circle Answer {% endblock %}
{% block content %}
AREA <br>
A = πr<sup>2</sup><br>
A = π{{ r }}<sup>2</sup><br>
A = π{{ r * r }}<br>
A = {{ a }}<br>
CIRCUMFERENCE <br>
C = 2πr<br>
C = π{{ r * 2 }}<br>
C = {{ d }}<br>
VOLUME<br>
V = (4/3)πr<sup>3</sup><br>
V = (4/3)π{{ r }}<sup>3</sup><br>
V = (4/3)π{{ r * r * r }}<br>
V= π{{r* r* r * 4/3 }}<br>
V = {{ v }}<br>
{% endblock %}
