{% extends "partials/layout.njk" %}
{% block title %} form {% endblock %}
{% block content %}

<form method="POST"> 
<p>
    <label>Radius<br>
        <input  type="number" placeholder= "radius" name="radius">
    </label>

<p>
    
<P>
    <input type="submit" value="send">
    <label>
<P>
<form>
 {% endblock %}